# Always auth with the registry
always-auth=true

# Tbd...
git-tag-version=false

# Token with "packages:read" scope (Github Packages)
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

# Default registry (NPM)
registry=https://registry.npmjs.org

# The Shiftsmart registry (Github Packages)
@shiftsmartinc:registry=https://npm.pkg.github.com
